*, *:before, *:after {
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #333;
    font-size: 16px;
    background: #22262F;
    overflow-x: hidden;
  }
  
  .app {
    min-height: 100%;
  }
  